<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/home/signup.js" defer></script>
    <title>회원가입</title>
    <style>
    </style>
</head>
<body>
    <div align="center" class="regist-wrapper">
        <h2>회원가입</h2>
        <form class="signup-form">
            <p><input id="email" type="text" placeholder="Email"></p>
            <p><input id="password" type="password" placeholder="Password"></p>
            <p><input id="confirm" type="password" placeholder="Password 확인"></p>
            <p><input id="nickname" type="text" placeholder="Nickname"></p>
            <p><input id="description" type="text" placeholder="한줄 소개"></p>
            <button id="signupBtn" type="button">Regist</button>
        </form>
    </div>
</body>
</html>